div#myth-buster { width:50%;height:auto;padding:1em;margin-left:25%;margin-top:10%;border:dashed 1px blue }
div#myth-buster h3 { float:left; }
div#myth-buster input.more-info { float:right; }
div#myth-buster .back { float:right; }
div#myth-buster input.more-info + p { clear:both; }
div#myth-buster .back + p { clear:both; }
